<!DOCTYPE html>
<html>
    <head>
        <title>Google Classroom Redirect</title>
        <script defer src="./js/options.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="options">
                <h1 class="title is-1 is-white"> Google Classroom Redirector <i class="fas fa-random"></i></h1>
                <p style="margin-bottom: 10px;">Intelligently brings you to the right Google Classroom</p>


                <input class="input" type="text" placeholder="Paste Your School Accounts Google Classroom URL" name="url" id="url">
                <br/><br/>

                <h3 class="title is-3 is-white"> Advanced Settings: </h3>
                Current Account Number: <input type="number" name="num" id="userNum" />
                <br/><br/>
                <button class="button is-green" id="save" >Save</button>

                <p style="margin-top: 20px;"><a href="https://github.com/SethuSenthil/google-classroom-redirector">View Source Code on Github <i class="fab fa-github"></i></a></p>
                <p>Made By <a href="https://sethusenthil.com/?ref=clasroomextention">Sethu Senthil <i class="fas fa-external-link-alt"></i></a></p>
            </div>
        </div>
    </body>
</html>
